a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px rgb(106, 106, 106),
    1px  1px 0 rgb(106, 106, 106),
    2px  2px 0 rgb(106, 106, 106),
    3px  3px 0 rgb(255, 255, 255),
    4px  4px 0 rgb(106, 106, 106),
    5px  5px 0 rgb(106, 106, 106),
    6px  6px 0 rgb(106, 106, 106);

  
  }
  nav {
    background-color: #d6d4d4;
  }
  
  
  .box-shadow {
    font-size: 26px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px rgb(106, 106, 106),
    1px  1px 0 rgb(106, 106, 106),
    2px  2px 0 rgb(255, 255, 255),
    3px  3px 0 rgb(106, 106, 106),
    4px  4px 0 rgb(255, 255, 255);
  }
  
  #navbar-logo {
    margin-top: -10px;
  }
  