.container {
    display: flex;
}

.config {
    width: 100%;
    background-color: #d6d4d4;
}

.box-shadow {
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
    text-shadow: 1px 1px rgb(106, 106, 106),
    1px  1px 0 rgb(83, 83, 83),
    2px  2px 0 rgb(83, 83, 83),
    3px  3px 0 rgb(83, 83, 83),
    4px  4px 0 rgb(83, 83, 83),
    5px  5px 0 rgb(83, 83, 83);
  }