/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    background: antiquewhite;
    background: linear-gradient(187deg, rgba(203,153,126,1) 0%, rgba(167,168,166,1) 47%, rgba(153,150,147,1) 99%, rgba(255,232,214,1) 100%);
    height: max-content;
    min-height: 100vh;
}