<div class="block block-right">
    <h2 class="block-title">
            Что такое JDM style?
    </h2>
    <div class="block-content">
        Чистый JDM стиль представляет собой праворукую машину, выпущенную до 2000 года, имеющую широкие диски старой школы, внешний обвес и другие элементы, значительно изменяющие стоковый дизайн автомобиля.
    </div>
</div>

<div class="block block-left">
    <img class="block-img" src="../../assets/Jdm2.webp">
</div>

<div class="block block-right">
    <h2 class="block-title">
            Задача этого сайта
    </h2>
    <div class="block-content">
        Помочь пользователям создать свой уникальный JDM-тюнинг прямо на сайте в конструкторе и посмотреть, как он юудет выглядеть на каждой модели автомобиля. А также помочь с поиском деталей в вашем городе.
    </div>
</div>